/**
 * Define Coop Colors
 */
:root {
    --color-blue-0: #dcf0fa;
    --color-blue-1: #0d6efd;
    --color-blue-2: #0a58ca;
    --color-blue-3: #003366;
    --color-pink: #d63384;
    --color-grey: #6c757d;
    --background-color-tooltip: #fff0b4;
    --color-background: #fcf8e3;
}

/**
 * Define some global settings
 */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Coop Sans", sans-serif;
    overflow: auto;
}

/**
 * Setup the HTML Body and container that will contain the web page
 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: black;
    background-color: skyblue;
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    height: 100%;
}

/* MAIN TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.header {
    background: #aaa;
    font-weight: bold;
    text-align: left;
}

th,
td {
    /*border: 1px solid #333;*/
    padding: 8px;
}

.col1 {
    width: 50px;
}

.col1-flex {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.network-health {
    width: 250px;
}

.expand-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-right: 5px;
    vertical-align: middle;
}

.expand-btn:hover {
    color: var(--color-blue-1);
}

.table-network-status-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
}

/* Style for data-value="5" */
.table-network-status-icon[data-value="5"] {
    background-color: green;
    /* other styles */
}

/* Style for data-value="4" */
.table-network-status-icon[data-value="4"] {
    background-color: yellowgreen;
}

/* Style for data-value="3" */
.table-network-status-icon[data-value="3"] {
    background-color: yellow;
}

/* Style for data-value="2" */
.table-network-status-icon[data-value="2"] {
    background-color: orange;
}

/* Style for data-value="1" */
.table-network-status-icon[data-value="1"] {
    background-color: red;
}

.main-table-row:nth-of-type(3n) {
    background-color: #fff1f1;
}




/* INNER TABLE */
.inner-table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

.inner-header {
    background: #ddd;
    font-weight: bold;
}

.inner-table td {
    /*border: 1px solid #333;*/
    padding: 6px;
}

/* Health BAR */
td .health-bar {
    display: flex;
    height: 16px;
    width: 100%;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
}

.health-segment {
    flex: 1 1 0;
    height: 100%;
    background: #28a745;
    /* green for up */
}

/* Optional: red for down
.health-segment.down {
    background: #dc3545;
}
*/